<div class="row">
  
  <div class="col-sm-12 col-lg-4">
      <div class="card card-hover">
          <div class="card-body">
              <div class="d-flex">
                  <div class="m-r-10">
                      <span>Enrolled Customers</span>
                      <h4>{{ dash.customers }}</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-sm-12 col-lg-4">
      <div class="card card-hover">
          <div class="card-body">
              <div class="d-flex align-items-center">
                  <div class="m-r-10">
                      <span>Branches With Enrolled Customers</span>
                      <h4>{{ dash.braches }}</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-sm-12 col-lg-4">
      <div class="card card-hover">
          <div class="card-body">
              <div class="d-flex align-items-center">
                  <div class="m-r-10">
                      <span>Waived Branches</span>
                      <h4>{{ dash.waivedBranches }}</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
