<block-ui>
  <div class="row" *ngIf="!editMode">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-3">List of Channels</h4>
          <div class="table table-responsive smart-table">
            <ng2-smart-table [settings]="settings" [source]="source" class=""   (create)="initAddChannel($event)" (edit)="initEditChannel($event)"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="editMode">
    <div class="col-lg-12">
      <div class="card">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
          <div class="form-body">
            <div class="card-body">
                <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">Mandatory field are marked with *</ngb-alert>
            </div>
            <div class="card-body">
              <h4 class="card-title">Channel</h4>
              <hr>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                        <label for="channelCode" class="control-label text-left col-md-2">Channel Code <span class="error">*</span></label>
                        <div class="col-md-10">
                        <input type="text" class="form-control" id="channelCode" formControlName="channelCode" />
                        <div *ngIf="submited && (form.controls['channelCode'].invalid || form.controls['channelCode'].dirty || form.controls['channelCode'].touched)" class="error">
                          <div *ngIf="f.channelCode.errors?.required">Channel code is required</div>
                         <div *ngIf="f.channelCode.errors?.minlength">Channel Code must be at least 2 characters</div>
                         <div *ngIf="f.channelCode.errors?.pattern">Channel code name must be text</div>
                       </div>
                      </div>
                    </div>
                  </div>
              </div>
             <div class="row">
              <div class="col-md-12">
                 <div class="form-group row">
                    <label for="channelName" class="control-label text-left col-md-2">Channel Name <span class="error">*</span></label>
                    <div class="col-md-10">
                    <input type="text" class="form-control" id="channelName" formControlName="channelName" />
                    <div *ngIf="submited && (form.controls['channelName'].invalid || form.controls['channelName'].dirty || form.controls['channelName'].touched)" class="error">
                      <div *ngIf="f.channelName.errors?.required">Channel Name is required</div>
                      <div *ngIf="f.channelName.errors?.minlength">Channel Name must be at least 3 characters</div>
                      <div *ngIf="f.channelName.errors?.pattern">Channel name must be text</div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <!--/row-->

              <!--/span-->
              <div class="form-group row">
                  <label for="status" class="col-2 col-form-label">Active</label>
                 <div class="custom-control chk-active custom-checkbox mr-sm-2 m-b-15">
                   <input type="checkbox" formControlName="status" class="custom-control-input" id="status" value="check">
                   <label class="custom-control-label" for="status"></label>
                  </div>
              </div>
            </div>

            <div class="col-lg-12" style="text-align: left; padding-left: 16.7%">
              <button type="button" class="btn btn-success" (click)="addChannel()">Save</button>
              <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
              <div [hidden]="!isDelayedRunning" class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
             </div>
            </div>
          </div>
        </form>
     </div>
     </div>
  </div>
  </block-ui> 