<block-ui>
  <div class="row" *ngIf="!editMode">
  
    <div class="col-12">
  
      <div class="card">
  
        <div class="card-body">
  
          <h4 class="card-title">Staff List To Approve</h4>
          <hr>
          <div id="cust-table" class="table table-bordered table-sm m-b-0 table-responsive smart-table ">
            <ng2-smart-table [settings]="settings" [source]="tellers" class=""          
              (edit)="initEditcustomer($event)"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="editMode">
  <div class="row" *ngIf="isVerified">
          <div class="col-lg-12 col-xlg-12 col-md-12">
              <div class="card">
                  <ngb-tabset type="pills" class="custom-pills" #t="ngbTabset">
                      <ngb-tab title="Customer Details" id="tab1">
                          <ng-template ngbTabContent>
                            <div class="card-body" [hidden]="profDetails">
                              <h4 class="card-title">Staff Details</h4>
                              <hr>
                              <form class="form form-material" action="#">
                                  <div class="form-group row">
                                      <label for="tellerName" class="col-2 col-form-label">Full Name</label>
                                      <div class="col-10">
                                          <input class="form-control" [disabled]="is_edit" [(ngModel)]="teller.tellerName"  [ngModelOptions]="{standalone: true}"  type="text" id="tellerName" placeholder="Full Name">
                                      </div>
                                  </div>   
                                  <div class="form-group row">
                                    <label for="customerId" class="col-2 col-form-label">Customer Id</label>
                                    <div class="col-10">
                                        <input class="form-control" [disabled]="is_edit" [(ngModel)]="teller.customerId"  [ngModelOptions]="{standalone: true}"  type="text" id="customerName" placeholder="Full Name">
                                    </div>
                                </div>   
                                  <!-- <div class="form-group row">
                                      <label for="active" class="col-2 col-form-label">Active</label>
                                     <div class="custom-control chk-active custom-checkbox mr-sm-2 m-b-15">
                                       <input type="checkbox" [(ngModel)]="teller.active" [disabled]="is_edit" [ngModelOptions]="{standalone: true}"  class="custom-control-input" id="active" value="check">
                                       <label class="custom-control-label" for="active"></label>
                                   </div>
                                 </div> -->
                                <div>
                                    <div class="col-lg-12" style="text-align: left; padding-left: 16.7%">
                                      <button type="submit" class="btn btn-success cust-btn" (click)="t.select('tab2')">
                                          Capture Finger Prints</button>
                                          <button type="button" class="btn btn-default" (click)="rejectTeller()">Reject Staff</button>
                                      <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                                    </div>
                                  </div>
                                </form>
                          </div>
                          </ng-template>
                      </ngb-tab>
                      <ngb-tab title="Verification Device"  id="tab2">
                        <ng-template ngbTabContent>
                              <div class="card-body">
                                  <h4 class="card-title">Verification Device</h4>
                                  <hr>
                               <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group row">
                                            <div class="col-sm-9 col-md-9 col-md-9">
                                                <div class="custom-control custom-radio custom-control-inline m-t-5">
                                                    <input type="radio" value="SEC" class="custom-control-input" id="customControlValidation2" [(ngModel)]="verificationType" name="verificationType" required [ngModelOptions]="{standalone: true}">
                                                    <label class="custom-control-label" for="customControlValidation2">Secugen</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" value="GRE" class="custom-control-input" id="customControlValidation3"  [(ngModel)]="verificationType" name="verificationType" required [ngModelOptions]="{standalone: true}">
                                                    <label class="custom-control-label" for="customControlValidation3">Green bit</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="col-lg-12" style="text-align: left; padding-left: 16.7%">
                                        <button type="submit" class="btn btn-success cust-btn" (click)="t.select('tab3')">
                                          Capture Print</button>
                                      <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                                    </div>
                              </div>
                              </div>
                  </ng-template>
                  </ngb-tab>
                      <ngb-tab title="Verify Customer" id="tab3">
                          <ng-template ngbTabContent>
                            <div class="card-body"> <!--[hidden]="bioDetails"-->
                              <h4 class="card-title">Verify</h4>
                              <hr>
                              <div class="row" *ngIf="verificationType === 'SEC'">
                                <div class="col-md-6 col-sm-offset-3 custom-row">
                                    <form class="form-horizontal" id="loginform"  >
                                                <div class="input-group mb-3">                        
                                                    <div class="verify">
                                                        <a href="javascript:;" class="shortcuts shortcut">
                                                            <img id="finger" style="margin-left: 75%;" src="assets/images/fingerprint.png" height="200px" >
                                                          </a>
                                                    </div>
                                                </div>
                                              <div>
                                                <div class="col-lg-12">
                                                  <button type="submit" class="btn btn-success cust-btn" (click)="secugenVerify()">
                                                    Verify Customer</button>
                                                <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
                                              </div>
                                            </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row"  *ngIf="verificationType === 'GRE'">
                                <div class="col-sm-12">
                                 <div class="form-group">
                                  <div class="widget-content">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                      <div class="form-group col-lg-12 col-sm-12">
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                          <div class="rowc" style="min-height: 320px;">
                                            <img src="assets/images/enroll/enroll.png" class="imgFade" />
                                            <img id="T5" src="assets/images/enroll/T5.png" class="fl-L0 imgFade" data-next="fl-L1" />
                                            <img id="L6" src="assets/images/enroll/L6.png" class="fl-L1 imgFade" data-next="fl-L2" />
                                            <img id="L7" src="assets/images/enroll/L7.png" class="fl-L2 imgFade" data-next="fl-L3" />
                                            <img id="L8" src="assets/images/enroll/L8.png" class="fl-L3 imgFade" data-next="fl-L4" />
                                            <img id="L9" src="assets/images/enroll/L9.png" class="fl-L4 imgFade" data-next="fl-R0" />
                                            <img id="T0" src="assets/images/enroll/T0.png" class="fl-R0 imgFade" data-next="fl-R1" />
                                            <img id="R1" src="assets/images/enroll/R1.png" class="fl-R1 imgFade" data-next="fl-R2" />
                                            <img id="R2" src="assets/images/enroll/R2.png" class="fl-R2 imgFade" data-next="fl-R3" />
                                            <img id="R3" src="assets/images/enroll/R3.png" class="fl-R3 imgFade" data-next="fl-R4" />
                                            <img id="R4" src="assets/images/enroll/R4.png" class="fl-R4 imgFade" data-next="x" />
                                         </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 fing">
                                      <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                          <div class="row">
                                            <table class="table" style="height: 20%;" rowspan="2" colspan="2">
                                              <tbody>
                                                <tr>
                                                  <td class="cp-L4 imgCol1" data-href='4|L' data-img='L4' data-pos='5' data-info='Left Little' capture>
                                                       <button id="left" [ngClass]="{'btn-cursor': btnClass}"  (click)="sendName('left')" class="captureFingerPrint"> <!--" -->
                                                          <img id="left"  class="slap" height="150" width="150" src="assets/images/enroll/no_image_left.png">
                                                          <h6 class="muted">LEFT HAND</h6>
                                                      </button>                                      
                                                  </td>
                                                  <td class="cp-L3 imgCol1" data-href='3|L' data-img='L3' data-pos='4' data-info='Left Ring' capture>
                                                      <button id="thumbs" [ngClass]="{'btn-cursor': btnClass}" (click)="sendName('thumbs')" class="captureFingerPrint">
                                                        <img id="thumbs" class="thumbs" src="assets/images/enroll/no_image_thumb.png">
                                                        <h6 class="muted">THUMBS</h6>
                                                      </button> 
                                                  </td>
                                                  <td class="cp-L3 imgCol1" data-href='3|L' data-img='L3' data-pos='4' data-info='Left Ring' capture>
                                                      <button id="right" [ngClass]="{'btn-cursor': btnClass}" (click)="sendName('right')"   class="captureFingerPrint"> <!---->
                                                         <img id="right" class="slap" src="assets/images/enroll/no_image_right.png">
                                                         <h6 class="muted">RIGHT HAND</h6>
                                                      </button>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-lg-12 fing-btns">
                                        <button type="button" class="btn btn-success" (click)="afisUpdate()">Authorize</button>
                                        <button type="button" class="btn btn-primary" (click)="sendName('stop')">Stop Device</button>
                                        <button type="button" class="btn btn-warning" (click)="resetDevice()">Clear Captured Prints</button>
                                        <button type="button" class="btn btn-danger" (click)="cancelEnr()">Cancel</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>
                          </ng-template>
                      </ngb-tab>
                  </ngb-tabset>
              </div>
          </div>
          <!-- Column -->
        </div>
      </div>
      <!-- <input id="file-upload" 
  type="file" 
  accept=".txt" 
  (change)="fileUpload($event)">
   
  <textarea rows="4" cols="50">{{fileText}}</textarea> -->
  <div style="width:630px">
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Customer profile/Signature</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">                        
          <div class="verify">
              <a href="javascript:;" class="shortcuts shortcut">
                  <img id="finger" class="cust-prof" [src]="profpic" height="200px" >
                </a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  </block-ui>
