<block-ui>
  <div class="row" *ngIf="!editMode">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">CUSTOMER</h4>
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group m-b-30">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Customer</label>
                <input type="text" class="custom-select cust mr-sm-2" id="inlineFormCustomSelect" id="accountNo"
                  [(ngModel)]="customerId" aria-describedby="emailHelp" placeholder="CUSTOMERID" autocomplete="off">
              </div>
            </div>
            <div class="col-sm-4 mt-4">
              <button type="button" style="margin-top: 3px" class="btn btn-info btn-w"
                (click)="getCustomerToWaive()">Inquire Customer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="editMode">

    <div class="col-12">

      <div class="card">

        <div class="card-body">

          <h4 class="card-title">Enrolled Customers</h4>
          <hr>
          <form class="form form-material" action="#">
            <div class="form-group row">
              <label for="customerName" class="col-2 col-form-label">Full Name</label>
              <div class="col-10">
                <input class="form-control" [disabled]="is_edit" [(ngModel)]="customer.customerName"
                  [ngModelOptions]="{standalone: true}" type="text" id="customerName" placeholder="Full Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-password-input" class="col-2 col-form-label">Gender </label>
              <div class="col-10">
                <div class="form-check">
                  <div class="custom-control custom-radio">
                    <input type="radio" value="MALE" [(ngModel)]="customer.gender" name="male"
                      class="custom-control-input" id="customControlValidation2">
                    <label class="custom-control-label" for="customControlValidation2">Male</label>
                  </div>
                </div>
                <div class="form-check">
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" value="FEMALE" name="female"
                      [(ngModel)]="customer.gender" id="customControlValidation3">
                    <label class="custom-control-label" for="customControlValidation3">Female</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="customerIdNumber" class="col-2 col-form-label">CustomerId</label>
              <div class="col-10">
                <input class="form-control" [disabled]="is_edit" type="text" [(ngModel)]="customer.customerId"
                  id="customerIdNumber" [ngModelOptions]="{standalone: true}" placeholder="customerId">
              </div>
            </div>
            <div class="form-group row">
              <label for="customerIdNumber" class="col-2 col-form-label">ID/Passport No</label>
              <div class="col-10">
                <input class="form-control" [disabled]="is_edit" type="text" [(ngModel)]="customer.customerIdNumber"
                  id="customerIdNumber" [ngModelOptions]="{standalone: true}" placeholder="ID Number">
              </div>
            </div>
            <div class="form-group row">
              <label for="country" class="col-2 col-form-label">Nationality</label>
              <div class="col-10">
                <input class="form-control" [disabled]="is_edit" type="text" [(ngModel)]="customer.country" id="country"
                  [ngModelOptions]="{standalone: true}" placeholder="Nationality" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="phoneNumber" class="col-2 col-form-label">Telephone</label>
              <div class="col-10">
                <input class="form-control" [disabled]="is_edit" type="text" ngModel #phoneNumberField="ngModel"
                  [(ngModel)]="customer.phoneNumber" [ngModelOptions]="{standalone: true}" id="phoneNumber"
                  placeholder="Telephone Number">
              </div>
            </div>
            <!-- <div class="form-group row">
              <label for="active" class="col-2 col-form-label">Waive/Unwaive</label>
              <div class="custom-control chk-active custom-checkbox mr-sm-2 m-b-15">
                <input type="checkbox" [(ngModel)]="customer.active" [disabled]="is_edit"
                  [ngModelOptions]="{standalone: true}" class="custom-control-input" id="active" value="check">
                <label class="custom-control-label" for="active"></label>
              </div>
            </div> -->
            <div>
              <div class="col-lg-12" style="text-align: left; padding-left: 16.7%">
                <button type="submit" class="btn btn-success cust-btn" (click)="waiveCustomer()">
                  Save</button>
                <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </form>
          <!-- <app-table></app-table> -->
        </div>
      </div>
    </div>
  </div>
</block-ui>
