<block-ui>
  <div class="row" *ngIf="!isVerified">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info">
          <h4 class="card-title text-white">Convert Staff to Customer</h4>
        </div>
        <div class="card-body">
          <form class="form-horizontal">
            <div class="card-body">
              <div class="form-group row">
                <div class="col-sm-3">
                  <div class="b-label">
                    <label for="staff" class="control-label col-form-label">Staff Id</label>
                  </div>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control staffId" autocomplete=" off" id="staffId" [(ngModel)]="staffId"
                    (keypress)="validateStaffId($event)" placeholder="KE1234" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>
            <hr>
            <div class="card-body">
              <div class="form-group m-b-0 text-right">
                <button type="submit" class="btn btn-success cust-bt waves-effect waves-light"
                  (click)="getStaff(staffId)">Next</button>
                <button type="button" class="btn btn-danger waves-effect waves-light" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isVerified">
    <div class="col-lg-12 col-xlg-12 col-md-12">
      <div class="card">
        <ngb-tabset type="pills" class="custom-pills" #t="ngbTabset" (tabChange)="validateCustomer($event)"
          [destroyOnHide]="false">
          <ngb-tab title="Convert Staff to Customer" id="tab1">
            <ng-template ngbTabContent>
              <div class="card-body" [hidden]="profDetails">
                <h4 class="card-title">Staff Details</h4>
                <hr>
                <form class="form form-material" [formGroup]="tellerForm">

                  <div class="form-group row">
                    <label for="tellerEmail" class="col-2 col-form-label">Staff Email <span
                        class="error">*</span></label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" id="tellerEmail" formControlName="tellerEmail"
                        placeholder="Customer ID Number" [attr.disabled]="true" />
                    </div>
                  </div>
                  <div class="form-group row">

                    <label for="customerId" class="col-2 col-form-label">CustomerId<span class="error">*</span></label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" formControlName="customerId" placeholder="customerId"
                        [attr.disabled]="true" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="tellerName" class="col-2 col-form-label">Staff Name <span class="error">*</span></label>
                    <div class="col-md-10">
                      <input type="text" class="form-control" formControlName="tellerName" placeholder="Full Name"
                        [attr.disabled]="true" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label for="branchCode" class="control-label text-left col-md-2">Department Code<span
                            class="error">*</span></label>
                        <div class="col-md-10">
                          <input type="text" class="form-control" formControlName="departmentCode"
                            placeholder="Department" [attr.disabled]="true" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="col-lg-12" style="text-align: left; padding-left: 16.7%">
                      <button type="submit" class="btn btn-success cust-btn" (click)="upgradeStaffToCustomer()">
                        Convert Staff to Customer</button>
                      <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</block-ui>
