<block-ui>
  <div class="row" *ngIf="!editMode">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-3">List of Channels</h4>
          <div class="table table-responsive smart-table">
            <ng2-smart-table [settings]="settings" [source]="source" class=""  (edit)="initEditChannel($event)"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="editMode">
    <div class="col-lg-12">
      <div class="card">
        <form class="form-horizontal">
          <div class="form-body">
            <div class="card-body">
              <h4 class="card-title">Channel Details</h4>
              <hr>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                        <label for="channelCode" class="control-label text-left col-md-2">Channel Code</label>
                        <div class="col-md-10">
                        <input type="text" [disabled]="is_edit" class="form-control" id="channelCode" [(ngModel)]="channel.channelCode" [ngModelOptions]="{standalone: true}" />
                      </div>
                    </div>
                  </div>
              </div>
             <div class="row">
              <div class="col-md-12">
                 <div class="form-group row">
                    <label for="channelName" class="control-label text-left col-md-2">Channel Name</label>
                    <div class="col-md-10">
                    <input type="text" [disabled]="is_edit" class="form-control" id="channelName" [(ngModel)]="channel.channelName" [ngModelOptions]="{standalone: true}"/>
                  </div>
                </div>
                </div>
              </div>
              <!--/row-->

              <!--/span-->
              <!-- <div class="form-group row">
                  <label for="status" class="col-2 col-form-label">Waive/Unwaive</label>
                 <div class="custom-control chk-active custom-checkbox mr-sm-2 m-b-15">
                   <input type="checkbox" [disabled]="is_edit" [(ngModel)]="channel.status" class="custom-control-input" id="status" value="check" [ngModelOptions]="{standalone: true}">
                   <label class="custom-control-label" for="status"></label>
                  </div>
              </div> -->
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group row">
                   <label for="inputEmail3" class="control-label col-md-2 col-form-label">Action</label>
                   <div class="col-md-10">
                      <div class="custom-control custom-radio custom-control-inline m-t-5">
                          <input type="radio" value="W" class="custom-control-input" id="customControlValidation2" [(ngModel)]="channel.action" name="action" required [ngModelOptions]="{standalone: true}">
                          <label class="custom-control-label" for="customControlValidation2">Approve Waive</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" value="N" class="custom-control-input" id="customControlValidation3"  [(ngModel)]="channel.action" name="action" required [ngModelOptions]="{standalone: true}">
                          <label class="custom-control-label" for="customControlValidation3">Unwaive</label>
                      </div>
                      </div>
                  </div>
                  </div>
              </div>
            </div>

            <div class="col-lg-12" style="text-align: left; padding-left: 16.7%">
              <button type="button" class="btn btn-success" (click)="approveWaivedChannel()">Save</button>
              <button type="button" class="btn btn-danger" (click)="rejectChannels()">Reject Channel Waive</button>
              <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>              
              <div [hidden]="!isDelayedRunning" class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
             </div>
            </div>
          </div>
        </form>
     </div>
     </div>
  </div>
  </block-ui> 